<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.recycle.mapper.RecycleItemMapper">
    <resultMap id="BaseResultMap" type="com.ares.recycle.po.RecycleItemPO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <insert id="insert" parameterType="com.ares.recycle.po.RecycleItemPO">
    insert into recycle_item (name, type,
      create_time, create_by, update_time, 
      update_by)
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ares.recycle.po.RecycleItemPO">
        insert into recycle_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="list" resultType="com.ares.recycle.po.RecycleItemPO">
        select
        <include refid="baseResult"/>
        from recycle_item
        <where>
            <include refid="baseWhere"/>
        </where>
    </select>

    <sql id="baseWhere">
        <if test="request.name != null and request.name != ''">
            and name = #{request.name}
        </if>
        <if test="request.type != null and request.type != 0">
            and type = #{request.type}
        </if>
    </sql>

    <sql id="baseResult">
        id, name, type, create_time, create_by, update_time, update_by
    </sql>
</mapper>